#navbar {
    text-align: center;
}
#navbar li{
    border: 5px solid black;
    margin: 5px;
    display:inline-block;
    background-color: aqua;
    padding: 5px;
    border-radius: 15px;
}
#navbar li:hover{
    background-color: rgb(255, 255, 143);
}
#easteregg{
    text-align: left;
}
#easteregg li{
    border: 5px solid rgb(255, 255, 143);
    margin: 5px;
    display:inline-block;
    background-color: rgb(255, 255, 143);
    padding: 5px;
    border-radius: 15px;
    color:rgb(255, 255, 143);
    
}
#easteregg li:hover{
    background-color: aqua;
     color:black;
}